.listen {
  background-color:black;
  padding-bottom:30px;
}

.listen #banner-background {
  background-image:url(../../assets/img/listen.jpeg);
  /*background-size:cover;*/
  /*min-height:75px;*/
  /*text-align:center;*/
  /*color:black;*/
  /*border-radius:10px;*/
  /*margin-top:65px;*/
}

.listen h3 {
  color:white;
}

.listen .work-title {
  color:grey;
  /*border-style:solid hidden hidden hidden;*/
  /*border-color:grey;*/
  margin-bottom:10px;
  padding-bottom:0;
  margin-left:5px;
  font-style:italic;
}

.listen .img-responsive {
  border-radius:8px;
  height:116px;
  margin-bottom:10px;
  border-style:solid solid solid solid;
  border-color:grey;
}

.listen .genre-heading {
  border-style:hidden hidden solid hidden;
  border-color:grey;
}

.listen .genre h4 {
  color:grey;
}

.listen #work-list {
  margin-top:20px;
  color:grey;
}

.listen #work-list h2 {
  color:white;
  border-style:hidden hidden solid hidden;
  border-color:grey;
  padding-bottom:5px;
}

#link-to-works {
  padding:7px 6px 7px 5px;
  border-radius:8px;
  background-color:rgb(47,47,47);
  color:rgb(157,157,157);
  margin-left:-17px;
}

